*{
    margin: 0;
    padding: 0;
    margin-right: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
height: 60px;
width: 100%;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
position: fixed;
}

.logo{
    height: 50px;
    width: 110px;
    background-size: cover;
}

.amazon_logo{
   background-image: url("amazon_logo.png");
   background-size: cover;
   height: 50px;
   width: 100%;
   margin-left: 5px;
   margin-right: 15px;
}

.border{
     border: 1.5px solid transparent;
}

.border:hower{
    border: 1.5px solid white;
}

.add{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.add-first{
   font-size: 0.8rem;
   color: #cccccc;
   margin-left: 10px;
}

.add-second{
   font-size: 1rem;
   color: #ffffff;
   padding-left: 3px;
   margin-left: 2px;
   margin-right: 5px;
}

.nav-search{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    width: 490px;
    background-color: white;
    border-radius: 5px;
}

.nav-select{
background-color: #ff9900;
height: 35px;
width: 50px;
border-radius: 5px;
margin-right: 5px;
margin-left: 3px;
}

.nav-input{
    background-color: white;
    height: 35px;
    width: 350px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: large;
    margin-right: 3px;
}

.search-icon{
    background-color: #ff9900;
    width: 40px;
    height: 32px;
    border-radius: 5px;
    padding-left: 14px;
    padding-top: 5px;
}

.language{
   display: flex;
   align-items: center;
   margin-left: 5px;
   border: none;
}

.nav-lang{
     margin-left: 5px;
}

.sign-in{
    height: 50px;
    width: 112px;
    margin-left: 5px;
    padding-left: 25px;
    padding-top: 14px;
}

.hello{
    font-size: 12px;
    width: 80px;
    height: 15px;
}

.acccount{
     font-size: 16px;
     width: 150px;
     height: 18px;
}

.aiyah{
    background-color: #0f1111;
    color: #ffffff;
    width: 15px;
    border: none;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.orders{
    height: 50px;
    width: 120px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 14px;
}

.ret{
    font-size: 12px;
    width: 75px;
    height: 14px;
}

.ord{
    font-size: 16px;
    width: 100px;
    height: 15px;
}

.cart{
    padding-right: 10px;
    width: 80px;
    height: 50px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.navbar2{
    height:50px;
    line-height: 50px;
    width: 100%;
    background-color: #4f4f4f;
    padding-top: 10px;
    margin-top: 43px;
}

.content{
    color: #ffffff;
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.background{
   height: 280px;
   width: 100%;
   background-image: url("amazon_background.png");
   background-size:contain;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: flex-end;
}

.detail{
    height: 30px;
    width: 85%;
    color: black;
    background-color: white;
    font-size: larger;
    margin-bottom: 25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
}

.detail a{
    color: #0d0892
}

.middle{
    height: 400px;
    width: 100%;
    background-color: rgb(183, 193, 195);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.middle2{
    height: 400px;
    width: 100%;
    background-color: rgb(183, 193, 195);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
}

.middle3{
    height: 400px;
    width: 100%;
    background-color: rgb(183, 193, 195);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.home{
     height: 350px;
     width: 35%;
     background-color: white;
     margin: 20px;
     padding-top: 10px;
     border-radius: 10px;
}

.container-img{
    height: 280px;
    width: 90%;
    border: 2px solid black;
    margin-left: 1rem;
}

.kitchen{
     height: 350px;
     width: 35%;
     background-color: white;
     margin: 20px;
     padding-top: 10px;
     border-radius: 10px;
}

.offer{
     height: 350px;
     width: 35%;
     background-color: white;
     margin: 20px;
     padding-top: 10px;
     border-radius: 10px;
}

.men{
    height: 350px;
    width: 35%;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.child{
     height: 350px;
     width: 35%;
     background-color: white;
     margin: 20px;
     padding-top: 10px;
     border-radius: 10px;
}

.women{
    height: 350px;
    width: 35%;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.toys{
    height: 350px;
    width: 35%;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.devices{
    height: 350px;
    width: 35%;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.footwear{
    height: 350px;
    width: 35%;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
}
.middle4{
    height: 200px;
    width: 100%;
    background-color: white;
}

.yellow{
    height: 40px;
    width: 180px;
    font-size: x-large;
    padding-top: 10px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-left: 540px;
    text-align: center;
}

.footer1{
    height: 300px;
    width: 100%;
    background-color: #222020;
    display: flex;
}

.panel1{
    height: 60px;
    width: 100%;
    background-color: #3b3d3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel2{
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.panel3{
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.panel4{
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

ul a{
    display: flex;
    font-size: small;
    margin-top: 10px;
}

ul p{
    font-size: larger;
    color:#ff9900;
}

.panel5{
    height: 110px;
    width: 100%;
    background-color: #222020;
    display: flex;
}

.logo2{
    height: 70px;
    width: 15%;
    background-image: url("amazon_logo3.png");
    background-size: cover;
    margin-top: 15px;
    margin-left: 250px;
    border-radius: 5px;
    border: 1px solid white;
}

.footer-lang{
     height: 30px;
     width: 8%;
     color: white;
     background-color: #0f1111;
     margin-left: 60px;
     margin-right: 20px;
     display: flex;
     align-self: center;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     border: 1px solid white;
}

.dollar{
     height: 30px;
     width: 12%;
     color: white;
     background-color: #0f1111;
     margin-right: 20px;
     display: flex;
     align-self: center;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     border: 1px solid white;
}

.flag{
     height: 30px;
     width: 12%;
     color: white;
     background-color: #0f1111;
     margin-right: 20px;
     display: flex;
     align-self: center;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     border: 1px solid white;
}

.footer2{
    height: 100px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-footer{
    font-size: large;
    text-align: center; 
    color: #ffffff;
}


.last-footer a{
     font-size: small;
     align-items: center;
     justify-content: center;
     padding-left: 5px;
}
